@font-face {
  font-family: 'EditorialNew-Ultralight';
  src: url('https://cdn.jsdelivr.net/gh/BarronCapital/my-fonts@4c9f09ab061787c8b6700f2320ee5d51f0802d96/EditorialNew-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

