/* Editorial normal */
@font-face {
  font-family: 'EditorialNew';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('https://cdn.githubraw.com/BarronCapital/my-fonts/de6fc3e571a1c71346f50bd0129857734ea6bdc9/editorialnew-ultralight-webfont.woff') format('woff');
  unicode-range: U+0000-00FF;
}

/* Editorial italic */
@font-face {
  font-family: 'EditorialNew';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('https://github.com/BarronCapital/my-fonts/blob/de6fc3e571a1c71346f50bd0129857734ea6bdc9/editorialnew-ultralightitalic-webfont.woff') format('woff');
  unicode-range: U+0000-00FF;
}

/* SuisseIntl */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.githubraw.com/BarronCapital/my-fonts/de6fc3e571a1c71346f50bd0129857734ea6bdc9/suisseintl-regular-webfont.woff') format('woff');
  unicode-range: U+0000-00FF;
}
