@font-face {
  font-family: 'SuisseIntl-Regular';
  src: url('https://cdn.jsdelivr.net/gh/BarronCapital/my-fonts@9b43ae93090182fb6876613904eeea0688bfc506/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
